/*顶部导航栏header*/
	#header{width: 100%;/* margin-bottom: -7px; */}
	.h-main{width: 1206px;height: 78px;margin: 0 auto;background-color: #fff;}
	.h-main .h-m-logo{width:240px;height: 72px;/* line-height: 78px; */float: left;margin-right: 140px;padding-top: 6px;}
	.h-main .h-m-nav{height: 78px;/* margin-bottom: -8px; */}
	.h-main .h-m-nav > ul{float: left;}
	.h-main .h-m-nav > ul>li{position: relative;float: left;margin-right: 24px;}
	.h-main .h-m-nav > ul>li > a{display: block;height: 52px;padding: 16px 0;}
	.h-main .h-m-nav > ul>li > a .title{margin-bottom: 7px;font-size:16px;color: #333333;}
	.h-main .h-m-nav > ul>li > a .title-en{font-size: 12px; color: #f20564;}
	.h-main .h-m-nav > ul>li:first-child{width: 61px;height: 61px;padding-top: 16px;background: url(../img/nav-home-bg.png) center center no-repeat;text-align: center;}
	.h-main .h-m-nav > ul>li:first-child > a{padding: 0;}
	.h-main .h-m-nav > ul>li:first-child a .title{/* width: 32px; */}
	.h-main .h-m-nav > ul+.hot-line{float: left;height: 40px;padding-top: 5px;}
	.h-main .h-m-nav > ul+.hot-line i{display: inline-block; width: 18px; height: 20px; background: url(../img/header-tel.png);}
	.h-main .h-m-nav > ul+.hot-line .home-line-tel{margin-top: 10px;font-size: 18px;color: #f20564;}
	/*.h-main .h-m-nav > ul > li > a:hover + ul.sub-menu{display: block;}*/

	.h-main .h-m-nav .sub-menu{display: none; position: absolute;top: 90px;left: -26px;width: 122px;height: 125px;padding-top: 6px;background-color: rgba(245, 245, 245, 0.73);z-index: 1;text-align: center;border-radius: 8px;}
	.h-main .h-m-nav .sub-menu a{display: block;width: 99px;height: 37px;margin: 0 auto;line-height: 37px;border-top: 1px solid #333;font-size: 14px;color: rgb(30,30,30);}
	.h-main .h-m-nav .sub-menu a:hover{color: #df3d78;}
	.h-main .h-m-nav .sub-menu >li:first-child a{border-top: none;}
	.h-main .h-m-nav .sub-menu:before{
		display: block;
		content: '';
		position: absolute;
		top: -26px;
		left: 50%;
		margin-left: -14px;
		border: 13px solid transparent;
		border-bottom-color: rgba(245, 245, 245, 0.73);
		z-index: 1;
	}

/*banner*/
	#banner{position: relative;width: 100%;height: 711px;overflow: hidden;top: -6px;}
	#banner > ul{/* width: 5760px; */}
	#banner > ul > li{width: 100%;/* float: left; *//* position: absolute; */display: none;}
	#banner > ul > li a{display: block; width: 100%;height: 711px;}
	#banner > ul > li img{width: 100%;height: 711px;}
	#banner .b-tab > p{ position: absolute; top: 307px;}
	#banner .b-tab > p > a{display: block; width: 34px; height: 66px;}
	#banner .b-tab > p.prev{left: 60px; background: url(../img/banner-arrow-left.png);}
	#banner .b-tab > p.next{right: 60px; background: url(../img/banner-arrow-right.png);}

/*about*/
	#about{width: 100%;margin-top: 52px;background-color: #fff;}
	#about .about-main{overflow: hidden; width: 1220px; height: 448px; margin: 0 auto;}
	#about .about-main .about-banner{position: relative; float: left; overflow:hidden; width: 600px; height: 363px;}
	#about .about-main .about-banner ul{width: 3400px;}
	#about .about-main .about-banner ul > li{float: left;}
	#about .about-main .about-banner ul > li img{width: 600px; height: 363px;}
	#about .about-main .about-banner .b-tab{position: absolute;left: 50%;bottom: 14px;/* top: 0; */width: 62px;height: 10px;margin-left: -30px;}
	#about .about-main .about-banner .b-tab ul li{float: left; width: 10px; height: 10px; margin: 0 5px; background-color: #006597; border-radius: 100%; cursor: pointer;}
	#about .about-main .about-banner .b-tab ul li.on{width: 6px; height: 6px; background-color: transparent; border: 2px solid #9eb737;}
	
	#about .about-main .dec{float: left; width: 544px; height: 288px; margin-top: 15px; margin-left: 52px;}
	#about .about-main .dec i{display: block; width: 222px; height: 30px; background: url(../img/aboutus.png);}
	#about .about-main .dec h2{margin: 26px 0 20px; font-size: 30px; font-weight: normal; color: #333;}
	#about .about-main .dec .text{width: 544px; height: 160px; color: #333;}
	#about .about-main .dec .text > p{margin-top: 25px; font-size: 16px;}
/*product display*/
	#product{width: 100%;height: 932px;padding: 21px 0 29px;background: url(../img/product-bg.jpg) 0 0/100% 100% no-repeat;}
	#product .product-main{width: 1220px; margin: 0 auto;}
	#product .product-m-header > i{display: block; width: 222px; height: 30px; margin: 0 auto; background: url(../img/product.png);}
	#product .product-m-header > h2{width: 120px; margin:15px auto 62px; font-size: 30px; font-weight: normal; color: #333;}
	#product .product-m-body > dl{float: left; margin-right: 66px; text-align: center;}
	#product .product-m-body > dl:last-child{margin-right: 0;}
	#product .product-m-body > dl > dt{width: 249px; height: 75px; padding-top: 19px; background: url(../img/dt-bg.png) 0 0/100% 100% no-repeat; font-size: 30px; font-weight: normal; color: #fefefe;}
	#product .product-m-body > dl > dd {margin-top: 18px;}
	#product .product-m-body > dl > dd img{width: 249px; height: 98px;}
	#product .product-m-body > dl > dd p{/* padding-top: 1px; */color: #cd6f8a;font-size: 16px;}
/*用户秀与客户评价*/	
	#showComment{width: 100%;height: 652px;margin-top: 77px;}
	#showComment .showComment-main{width: 1220px;margin: 0 auto;overflow: hidden;}
	#showComment .userShow{float: left; margin-right: 68px;}
	#showComment .userShow .m-header > i{display: block; width: 222px; height: 30px; background: url(../img/product.png);}
	#showComment .userShow .m-header > h2{width: 120px; margin:16px 0 33px; font-size: 30px; font-weight: normal; color: #333;}
	#showComment .userShow ul{width: 714px; height: 260px; overflow: hidden;}
	#showComment .userShow ul.first-ul{margin-bottom: 20px;}
	#showComment .userShow ul > li{position: relative; float: left;}
	#showComment .userShow ul > li:first-child{margin-right: 20px;}
	#showComment .userShow ul > li:hover .cover{display: block;}
	#showComment .userShow ul > li > img{width: 347px; height: 260px;}
	
	#showComment .userShow ul .cover{display: none; position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #b35372c9; background-color: rgba(179, 83, 114, 0.788);}
	#showComment .userShow ul a{display: block; width: 100%; height: 100%;}
	#showComment .userShow ul .cover > h3{position: absolute; top: 61px; left: 40px;font-size: 16px; color:#fff;}
	#showComment .userShow ul .cover > p.dec{position: absolute;top: 143px;left: 40px;width: 292px;height: 56px;font-size: 12px;color: #fff;}
	
	#showComment .comment{float: left; width: 430px;}
	#showComment .comment .m-header > i{display: block; width: 222px; height: 30px; background: url(../img/product.png);}
	#showComment .comment .m-header > h2{width: 120px; margin:16px 0 33px; font-size: 30px; font-weight: normal; color: #333;}
	#showComment .comment .comment-wraper{width: 410px;height: 544px;overflow: hidden;}
	#showComment .comment .comment-wraper li{position: relative;padding-top: 15px;border-top: 1px dashed #e7e7e7;}
	#showComment .comment .comment-wraper img{width: 63px;height: 63px; border-radius: 100%;}
	#showComment .comment .comment-wraper span.username{vertical-align: 25px; font-size: 16px; color: #c03f66;}
	#showComment .comment .comment-wraper span.date{position: absolute;top: 48px;right: 0;/* vertical-align: 25px; */font-size: 16px;color: #999999;/* margin-left: -3px; */}
	#showComment .comment .comment-wraper p.content-body{padding: 23px 0 26px 10px;/* height: 48px; */}
	
/*保养*/
	#decareful{position: relative; width: 100%;height: 508px; margin-top: 35px; background: url(../img/becareful-bg.png) 0 0/100% 100% no-repeat;}
	#decareful > i{position: absolute;top: 61%;display: block;width: 100%;border: 1px solid #333;}
	#decareful .decareful-main{width: 1220px; margin: 0 auto;}
	#decareful .m-header{text-align: center;}
	#decareful .m-header > i{display: block; width: 260px; height: 30px; margin: 0 auto; background: url(../img/product.png);}
	#decareful .m-header > h2{width: 260px; margin:20px auto 76px; font-size: 30px; font-weight: normal; color: #333;}
	#decareful .m-body ul{text-align: center;/* display: flex; *//* justify-content: space-around; *//* align-content: center; */margin-top: -24px;/* margin: -24px auto 0; */}
	#decareful .m-body ul.care-first-ul li{margin-left: 9%;margin-right: 6%;}
	#decareful .m-body ul.care-last-ul li{margin-left: 8%;margin-right: 8%;}
	#decareful .m-body ul li{display: inline-block;/* float: left; */margin:  0 auto;/* flex: 1; *//* margin-left: 11%; *//* margin-right: 5% !important; */text-align: center;}
	#decareful .m-body ul i{display: block;width: 32px;height: 32px;margin: 23px auto 12px;line-height: 32px;padding: 10px 10px;background-color: #fff;border-radius: 100%;text-align: center;color: #b64163;font-size: 23px;font-style: normal;}
   	#decareful .m-body ul p{font-size: 18px; color: #333;}
    #decareful .m-body ul img{position: relative;z-index: 36;}
/*address*/
	#address{width: 100%;margin-top: 19px; background-color: #fff;}
	#address .address-main{overflow: hidden; width: 1220px; height: 400px; margin: 0 auto;}
	#address .address-main .map{float: left;width: 660px;height: 399px;margin-right: 34px;background: url(../img/map.jpg) 0 0/100% 100% no-repeat;}
	#address .address-main .shop{width: 503px;float: left;}
	#address .address-main .shop > img{margin-top: 9px;}
	#address .address-main .shop dl{/* margin-bottom: 10px; */line-height: 26px;}
	#address .address-main .shop dt {/* float: left; */display: inline-block;margin-right: 23px;}
	#address .address-main .shop dt img{width: 24px; height: 24px;}
	#address .address-main .shop dd {/* float: left; */display: inline-block;width: 450px;}
	
/*contact*/
	#contact{width: 100%;margin-top: 19px; background-color: #fff;}
	#contact .contact-main{overflow: hidden; width: 1220px; height: 82px; margin: 26px auto 22px;}
	#contact .contact-main .tel{width: 477px;float: left;border-right: 1px solid #f0efef;}
	#contact .contact-main .tel > img{vertical-align: middle;}
	#contact .contact-main .tel > img + span{margin: 0 24px 0 12px;color: #babcbc;vertical-align: middle;}
	#contact .contact-main .tel span:last-child{font-size: 30px;color: #666;vertical-align: middle;}
	#contact .contact-main .anounce{float: right;}
	#contact .contact-main .anounce li{float: left;}
	#contact .contact-main .anounce li img{vertical-align: middle; margin-left: 30px; margin-right: 12px;}

/*footer*/
	#footer{width: 100%;margin-top: 19px;background-color: #fff;border-top: 1px solid #e4e4e4;}
	#footer .footer-main{position: relative; overflow: hidden; width: 1220px; height: 200px; margin: 45px auto 13px;}
	#footer .left{width: 553px;float: left;}
	#footer .left > p{margin-top: 25px; font-size: 14px; color: #666;}
	#footer .right{position: absolute;width: 644px;/* height: 167px; */right: 0;/* line-height: 167px; */text-align: right;}
	#footer .right .img-group{display: inline-block;position: absolute;right: 211px;top: 46px;}
	#footer .right .img-group a{display: inline-block;}
	#footer .right .img-group img{margin-right: 11px;}
	#footer .right .qrcode{display: inline-block; text-align: center;}
	#footer .right .qrcode p{font-size: 12px; color: #999;}
/*slidebar*/
	#slide-bar{position: fixed;left: 0;top: 33%;width: 68px;height: 286px;}
	#slide-bar ul li{border-top: 2px solid #fff;}
	#slide-bar ul li a{display: block;width: 68px;height: 72px;line-height: 72px;background-color: #3e3e3e;text-align: center;}
	#slide-bar ul li a:hover{background-color: #C03F66;}
	#slide-bar ul li a img{vertical-align: middle;}
