# 该文件覆盖编辑器的编辑配置，可以在不同编辑器下统一编码风格
# editorfoncig.org

# 最顶层的config文件，不用再找了。
root = true

# 下面的规则应用到所有的文件中
[*]
# 文件字符编码为utf-8
charset = utf-8

# 字符缩进长度
indent_size = 4

# 用空格代替tab缩进（不同的编辑器tab的size不同）
indent_style = space

# 每个文件以一个空白行结尾 false的话则不以空白结尾
insert_final_newline = true

# 如果有多个空白行，保存文件时自动去掉
# trim_trailing_whitespace = true

[*.md]
# trim_trailing_whitespace = false


