/************
 * 页面样式
 ************/

/*基本默认值*/
    html{
        font-size: 62.5%;
        color: #222;
    }
    ::selection{
        background-color: #b3d4fc;
        text-shadow: none;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
    }
/* 工具样式 */
    .center-block{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .pull-right{
        float: right !important;
    }
    .pull-left{
        float: left !important;
    }
    .text-right{
        float: right !important;
    }
    .text-left{
        float: left !important;
    }


